<html ng-app="demoApp">
    <head>
        <title>Intro to Angular Js</title>
        <link href="css/ng-table.css" rel="stylesheet" media="screen">
    </head>

    <body ng-controller="ContactsCtrl">

        Add a name:
        <input type = "text" ng-model="person_name"/>
        Add a Suburb:
        <input type = "text" ng-model="person_suburb"/>

        <button ng-click="addPerson()">Add Person!</button>

        <ng-include src="'partials/Search.html'" />


        <!-- Js File Lib -->
        <script src="js/angular.min.js"></script>
        <script src="js/ng-table.js"></script>

        <!--Controllers-->
        <script src="controllers/Contacts.js"></script>


    </body>

</html>
